<% content_for :dashboard do%>
    <a style="font-size: 16px" href="/posts">Bright Ideas</a>
<% end %>
<div class="container">
  <h3>Name: <%= @user.name%></h3>
  <h3>Alias: <%= @user.alias%></h3>
  <h3>Email: <%= @user.email%></h3>
  <hr>
  <h3>Total Number of Posts: <%= @user.posts.count %></h3>
  <h3>Total Number of Likes: <%= @user.posts_liked.count %></h3>
</div>